<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-home fa-2x"></i>
    <span class="h3">Funny Movie</span>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>

    <% if logged_in? %>
      <div class="navbar-text mr-4">
        Welcome
        <span class="font-weight-bold"><%= current_user.username %></span>
      </div>

      <%= link_to 'Share a movie', nil, class: 'btn btn-outline-success my-2 my-sm-0 mr-4' %>
      <%= form_with url: logout_path, local: true, html: { class: 'form-inline my-2 my-lg-0' } do %>
        <%= submit_tag 'Logout', class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% end %>
    <% else %>
      <%= form_with url: login_or_register_path, local: true, html: { class: 'form-inline my-2 my-lg-0' } do %>
        <%= text_field_tag :username, nil, class: 'form-control mr-sm-2', placeholder: 'username' %>
        <%= password_field_tag :password, nil, class: 'form-control mr-sm-2', placeholder: 'password' %><br>
        <%= submit_tag 'Login / Register', class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% end %>
    <% end %>
  </div>
</nav>
